p {
    color: rgb(0, 255, 157);
}

body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
    color: #5a1216;
    color: rgb(65, 55, 23);

}
a{line-through}